body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 30px;
    width:30px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    object-fit: cover;
}

.nav-text {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-text li {
    margin-left: 20px;
}

.nav-text li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-text li a:hover {
    background-color: #555;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.carousel-item {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-description {
    padding: 10px;
    background-color: #f4f4f4;
}

.card-description p {
    margin: 0;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

#formResult {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
